@font-face {
  font-family: 'iconfont'; /* Project id 4600045 */
  src:
    url('iconfont.woff2?t=1719490502996') format('woff2'),
    url('iconfont.woff?t=1719490502996') format('woff'),
    url('iconfont.ttf?t=1719490502996') format('truetype'),
    url('iconfont.svg?t=1719490502996#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zaixiankefu:before {
  content: '\e62e';
}

.icon-Instagram:before {
  content: '\e774';
}

.icon-facebookfacebook52:before {
  content: '\e605';
}

.icon-linkedin:before {
  content: '\e696';
}

.icon-social_ins:before {
  content: '\e603';
}

.icon-linkedin1:before {
  content: '\e68c';
}

.icon-Youtube:before {
  content: '\e62d';
}

.icon-tuitex:before {
  content: '\e600';
}
