.login-box {
  height: calc(100vh - 60px);
  .container {
    width: 1200px;
    height: auto;
    margin: 20px auto 0;
    .title {
      font-size: 44px;
      font-weight: 700;
      height: 70px;
      line-height: 70px;
    }
    .content {
      display: flex;
      gap: 120px;
      justify-content: center;
      .left {
        width: 460px;
        .tab-box {
          display: flex;
          flex: 1;
          gap: 30px;
          padding: 20px 0;
          .tab {
            padding: 0 18px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: var(--text-color);
            cursor: pointer;
          }
          .active {
            color: var(--dark-color);
            background-color: #f4f4f7;
            border-radius: 45px;
            font-family: Figtree-Regular;
          }
        }
        .form-box {
          :deep(.el-form-item) {
            display: flex;
            flex-direction: column;
          }
          :deep(.el-form-item__label-wrap) {
            margin: 0px !important;
          }
          :deep(.el-icon) {
            width: 16px;
            height: 16px;
          }
          .the-item {
            width: 100%;
            display: flex;
            column-gap: 30px;
            .prefix {
              width: 134px;
            }
            .action {
              flex: 1;
            }
          }
        }
        .btn-wrap {
          .forget-box {
            height: 22px;
            margin-bottom: 30px;
            cursor: pointer;
          }
          :deep(.el-button) {
            width: 100%;
            height: 40px;
            border-radius: 8px !important;
          }
          padding-bottom: 10px;
          text-align: right;
          font-size: 14px;
          color: var(--dark-color);
        }
        .text-box {
          margin-top: 24px;
          text-align: center;
          .no-account {
            color: var(--text-color);
          }
          .register {
            color: var(--dark-color);
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
      .right {
        width: 305px;
        font-family: Figtree-Regular;
        .title {
          font-size: 32px;
          line-height: 50px;
          height: 50px;
        }
        .sub-title {
          font-size: 16px;
          color: var(--text-color);
          padding-top: 16px;
        }
        .qr-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 60px;
        }
      }
    }
  }
}
.mobile {
  .login-box {
    height: auto;
    padding-bottom: 100px;
    min-height: 800px;
    .container {
      width: auto;
      padding: 0 20px;
      .title {
        font-size: 28px;
      }
      .content {
        display: flex;

        flex-direction: column;
        gap: 40px;
        .left {
          width: 100%;
          .tab-box {
            gap: 10px;
          }
        }
      }
    }
  }
}
