@font-face {
  font-family: 'Figtree-Bold'; /* 自定义字体的名称 */
  src: url('../ttf/Figtree-Bold.ttf') format('truetype'); /* 字体文件的路径和格式 */
  font-weight: normal; /* 字体权重，可以是normal或指定的数字如400 */
  font-style: normal; /* 字体样式，可以是normal、italic等 */
}
@font-face {
  font-family: 'Figtree-Regular'; /* 自定义字体的名称 */
  src: url('../ttf/Figtree-Regular.ttf') format('truetype'); /* 字体文件的路径和格式 */
  font-weight: normal; /* 字体权重，可以是normal或指定的数字如400 */
  font-style: normal; /* 字体样式，可以是normal、italic等 */
}

@font-face {
  font-family: 'Roboto'; /* 自定义字体的名称 */
  src: url('../ttf/Roboto-Black.ttf') format('truetype'); /* 字体文件的路径和格式 */
  font-weight: normal; /* 字体权重，可以是normal或指定的数字如400 */
  font-style: normal; /* 字体样式，可以是normal、italic等 */
}
